@import url(../css/footer.css);

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}



.light-mode:root {
    --background-color: #fff;
    --title-color: #3C6255;
    --paragraph-color: #000;
    --horizontal-row: #000;
    --scrollbar: #3C6255;
}

.dark-mode:root {
    --background-color: #525252;
    --title-color: #ACFEC8;
    --paragraph-color: #fff;
    --horizontal-row: #fff;
    --scrollbar: #ACFEC8;
}

body {
    transition: 500ms;
    background-color: var(--background-color) !important;
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 360px;
}

article {
    margin: 120px auto 0px;
    width: 100%;
}

#main-text {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    font-weight: 500;
    width: 60%;
    margin: auto;
    text-align: center;
}

#main-paragraph {
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
    color: var(--paragraph-color);
    width: 60%;
    text-align: center;
    margin: 40px auto 0px;
}

#earth-text {
    color: var(--title-color);
    font-family: 'Roboto', sans-serif;
    margin: 80px auto 0px;
    width: 80%;
    font-size: 32px;
    text-align: center;
}

#image-earth-area {
    width: 100%;
    margin: 80px auto 0px;
    text-align: center;
}

#earth-image {
    height: 300px;
    position: relative;
    bottom: 0px;
    animation: earthAnimation 4s infinite;
}

#main-horizontal-row {
    width: 60%;
    margin: 40px auto 0px;
    padding: 1px;
    border-top: 1px solid var(--horizontal-row);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

#card-section {
    width: 100%;
    margin: auto;
    text-align: center;
}

#card-section-text {
    margin: 80px auto 0px;
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
}

.left-card {
    position: relative;
    width: 40%;
    margin: 80px auto 0px;
}

.title-area-left {
    width: 50%;
    margin: 0px 0px 32px 0px;
    text-align: left;
}

.card-title-left {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    font-size: 32px;
}

.card-paragraph-left {
    display: flex;
    
}

.card-paragraph-left-text {
    font-family: 'Roboto', sans-serif;
    color: var(--paragraph-color);
    text-align: left;
    font-size: 18px;
}

.left-card-img {
    position: relative;
    animation: earthAnimation 4s infinite;
    height: 200px;
}

.modal-btn {
    position: absolute;
    bottom: 40px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: left;
}

.about-btn:hover {
    opacity: 0.7;
}

.about-btn {
    background-color: #ACFEC8;
    display: inline;
    width: 200px;
    height: 50px;
    border: none;
}

/*right*/


.right-card {
    position: relative;
    width: 40%;
    margin: 120px auto 120px;
    text-align: right;
}

.title-area-right {
    width: 50%;
    margin: 0px 0px 32px 50%;
    text-align: right;
}

.card-title-right {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    font-size: 32px;
}

.card-paragraph-right {
    display: flex;
    flex: row-reverse;
    
}


.card-paragraph-right-text {
    font-family: 'Roboto', sans-serif;
    color: var(--paragraph-color);
    text-align: right;
    font-size: 18px;
}

.right-card-img {
    position: relative;
    animation: earthAnimation 4s infinite;
    height: 200px;
    transform: rotate(-45deg);
}

.modal-btn-right {
    position: absolute;
    bottom: 40px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: right;
}

.about-btn:hover {
    opacity: 0.7;
}

.about-btn {
    border-radius: 4px;
    background-color: #ACFEC8;
    display: inline;
    width: 200px;
    height: 50px;
    border: none;
}

#modal {
    display: none;
    z-index: 100;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

.modal-div {
    margin: 5% auto 5% auto;
    width: 60%;
    height: 80%;
    background-color: #61876E;
    background-image: url(../images/cute-doodle-green-leaves-png.webp);
    background-size: 300px;
    background-position: bottom right;
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 7px;
}

.modal-title {
    margin: 40px auto 0px;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
}

.modal-paragraph {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    width: 90%;
    font-size: 18px;
    margin: 80px auto 0px;
    text-align: center;
}

.close-modal-btn {
    margin: 80px auto 0px;
    background-color: #ACFEC8;
    display: inline;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
}

#recicle-div {
    display: none;
}

#reuse-div {
    display: none;
}

footer {
    margin: 40px auto 0px;
}

@keyframes earthAnimation {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 30px;
    }
    100% {
        bottom: 0px;
    }
}

@media screen and (max-width: 1130px) {

    #main-text {
        width: 95%;
        font-size: 32px;
    }

    #main-paragraph {
        width: 95%;
        font-size: 16pxs;
    }

    #earth-text {
        width: 95%;
        font-size: 20px;
    }

    #earth-image {
        height: 150px;
    }

    #main-horizontal-row {
        width: 95%;
    }

    .modal-div {
        width: 100%;
        height: 90%;
        background-size: 200px;
        overflow: scroll;
        background-image: none;
    }

    .modal-title {
        font-size: 20px;
        margin: 20px auto 0px;
    }

    .modal-paragraph {
        margin: 0px auto 0px;
        width: 95%;
        font-size: 14px;
    }

    .close-modal-btn {
        margin: 20px auto 0px;
    }

    .left-card {
        width: 90%;
        margin: 120px auto 0px;
    }

    .title-area-left {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .card-title-left {
        font-size: 24px;
    }

    .card-paragraph-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-paragraph-left-text {
        font-size: 16px;
        text-align: center;
    }

    .left-card-img {
        margin: 40px auto 0px;
        height: 100px;
    }

    .modal-btn {
        margin: 40px auto 0px;
        text-align: center;
        position: static;
    }

    /*right*/

    .right-card {
        width: 90%;
        margin: 120px auto 0px;
    }

    .title-area-right {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .card-title-right {
        font-size: 24px;
    }

    .card-paragraph-right {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .card-paragraph-right-text {
        font-size: 16px;
        text-align: center;
    }

    .right-card-img {
        margin: 40px auto 0px;
        height: 100px;
    }

    .modal-btn-right {
        margin: 40px auto 0px;
        text-align: center;
        position: static;
    }
}